.form-div{
  background-color: #FFFFFF; /* Set the background color for the form */
   padding: 40px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   width: 400px;
}
input{
  margin:0 auto;
}

.submit-btn{
  margin:0 14%;
}
label{
  width: '50%';
         color: '#333333';
         fontSize: '16px';
         fontWeight: 'bold';
}
